*{
  margin: 0;
  padding: 0;
}

main {
  text-align: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  scroll: hidden;
}

.formulario {
  background: #bec2d5;
  line-height: 10vh;
  padding: 40px;
  border-radius: 12px;
}